<div class="home-page-header-container">
  <div class="logo" (click)="homePage()">
    <div>
      <img src="../../assets/images/smart-connect-icon.png" height="50"/>
    </div>
    <h2>SmartConnect</h2>
  </div>
    <ul>
      <li class="li-space-between">
        <a href="#">FEATURES</a>
      </li>
      <li class="li-space-between">
        <a routerLink="/login">LOGIN</a>
      </li>
      <li>
        <a routerLink="/sign-up">SIGN UP</a>
      </li>
    </ul>
</div>

<router-outlet></router-outlet>

